@model IndexViewModel
@{
    ViewBag.Title = "请假信息";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>@ViewBag.Title</h4>



            <table class="table table-bordered table-hover">
                <tr>
                    <th width="10%" class="text-center">Id</th>
                    <th width="10%" class="text-center">姓名</th>
                    @foreach (var item in Model.Vacation)
                    {
                        <th width="10%" class="text-center"> @item.Name</th>
                    }

                </tr>

                @foreach (var item in Model.UserInfos)
                {
                    <tr>
                        <td class="text-center"> @item.ID</td>
                        <td class="text-center"> @item.UserName</td>

                        @foreach (var vt in Model.Vacation)
                        {
                            if (Model.UserVacationDetailModelList.Any(u => u.VacationType == vt.ID && u.ID == item.ID))
                            {
                                <td class="text-center"> @(Model.UserVacationDetailModelList.Where(u => u.VacationType == vt.ID && u.ID == item.ID).SingleOrDefault().VacationDays)</td>
                            }
                            else
                            {
                                <td class="text-center"> 0</td>
                            }
                        }
                    </tr>
                }

            </table>


        </div>
    </div>
</div>